body{
    font-family: var(--secondary-font);
    width: 100%;
    background-repeat: no-repeat;
    /* Light Theme */
    background-color: #ffffff;
    color: #000000;
    --primary-color:white;
    --secondary-color: #212121;
}


  /* Dark Theme */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
    /* Add other dark theme styles as needed */
    --primary-color:black;
    --secondary-color: white;
}
.services_wrapper{
    margin-top: -55px;
    /* background-color: black; */
    background-color: black;
    color: var(--primary-color);
    padding-bottom: 50px;
}

.services_wrapper h2{
    padding-top: 30px;
    color: var(--primary-color);
}
.services_wrapper p{
    padding-top: 10px;
    color: white;
}
.services_wrapper .container .row .col-lg-3 .card{
    border-radius: 50px;
    background-color: white;
}
.services_wrapper .container .row .col-lg-3 .card:hover{
    border-radius: 50px;
    /* background-color: rgb(202, 201, 201); */
    transform:scale(1.1);
}
.services_wrapper .card p{
   color: black;
}



.Exams{
    align-items: center;
    text-align: center;
    color: white;
}
.Exams .row .cp{
    background-color: rgb(109, 109, 244);
}
.Exams .row .cp a p{
    color: white;
}



.Events{
    /* background: #323c3f; */
    /* background-color: rgb(102, 68, 255); */
    padding-bottom: 0;
}
.Events h2{
    text-align: center;
    color: var(--secondary-color);
    padding-top: 50px;
}

.Events .container .row .card{
    transition: all 0.3s; 
    width: 350px;
    border-radius: 30px 30px 0px 0px;
}
.Events .container .row .card img{
    margin-top: -15px;
    border-radius: 30px 30px 0px 0px;
}
.Events .container .row .card h5{
    text-align: center;
    margin-top: -10px;
}

.Events .row .card:hover{
    transform:scale(1.1);
    box-shadow: 0px 5px 30px black;
}

.Events .container .row .card .ig{
    height: 200px;
    margin-bottom: 0px;
}
.Events .container .row .card .it{
    margin-top: -100px;
    text-align: center;
}
.Events .container .row .card .it h5{
    font-size: xx-large;
    font-weight: 800;
    color: white;
}
.Events .container .row .card .it button{
    margin-bottom: -50px;
    text-align: center;
}
.Events .container .row .card .it .tttt{
    margin-top: -50px;
}

.Training .live{
    align-items: center;
    text-align: center;
    border: 3px solid white;
    margin-bottom: 30px;
}

.conslider{
    height: 500px;
}
.slidercontent{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 700px;
}
.slidercontent h3{
    font-size: 45px;
    margin-top: 70px;
    color: var(--secondary-color);
    animation-delay: 0.1s;
}
.slidercontent p{
    margin:  20px 0 20px;
    font-size: 18px;
    color: var(--secondary-color);
    animation-delay: 0.6s;
}
.slidercontent button{
    margin-top: 10px;
    padding: 15px 80px;
    font-size: 16px;
    border-top-right-radius: 0px;
    transition: 0.5s;
    animation-delay: 1.5s;
}
.slidercontent button:hover{
    border-top-right-radius: 30px;
}

.featureimg{
    width: 530px;
    position: absolute;
    margin-top: 120px;
    height: 470px;
    top: 0;
    right: 15%;
    
}
.featureimg .anim{
    animation-delay: 1.5s;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
