@media (max-width: 1199.5px){
    /*custom css*/
    h1{
        font-size: 3.75rem;

    }
    h2{
        font-size: 2.1875rem;


    }
    h3{
        font-size: 1.875rem;
        line-height: 2.6875rem;
    }

    h5{
        font-size: 1.0625rem;
    }
    /*blog*/

   

}



@media(max-width:991px){

    /*NAVBAR*/
    .header-scrolled{
        height: auto;

    }
    .none-two{
        position: relative;
        right: -8rem;
    }
    
    
    .none, .none-one{
        display: none;
    }
    .header_wrapper .navbar-collapse{
        margin-top: -0.125rem;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        /* background-color: var(--bg-white); */
        background-color: blue;
        padding-bottom: 0.9375;
        

    }
    .header_wrapper .nav-item .nav-link{
        margin-top: 0.9375rem;
    }

    .btx{
        display: none;
    }

    .carousel-inner img{
        height: 15rem;
    }

    /*events*/
    .Events .row .card{
        width: 8rem;
        height: auto;
    }

    .form form{
        height:auto;
        padding: 2rem;
        margin: 2rem;
    }
.form-check-label{
    color: #000 !important;
}

/*about part*/
.about_info .row p{
    font-size: 0.8rem;
}

.about_img{
    width: auto;
    height: 15rem;
}
.about-p{
    display: none;
}
.info p{
    font-size: 0.7rem;
    font-weight: 600;

}

/*testi*/
.testi .testi-card{
    margin-bottom: 1.3rem;
}

}


@media(max-width: 767px){
    /*Custom css*/
    h1{
        font-size: 2.5rem;
        line-height: 3rem;

    }
    h2{
        font-size: 1.875rem;
        line-height: 2.375rem;
    }

    h3{
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }


    
    

  
    

}


@media(max-width:575.5px){

    
    

    /* course */
    .Tutors_near .row .card{
        
        position: relative;
        left: 4rem;
    }

  
    
    }



@media(max-width: 390px){
    /*Top Banner*/
    .about_info .row p{
        font-size: 0.8rem;
    }
    
    .about_img{
        width: auto;
        height: 15rem;
    }
    .about-p{
        display: none;
    }
    .info p{
        font-size: 0.7rem;
        font-weight: 600;
    
    }
    /*testi*/
.testi .testi-card{
    margin-bottom: 1.3rem;
}


    
   
    }