/*
Table of contents
-----------------------------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Education
7. Blog
8. contact
9. Footer
-----------------------------------------*/

/*1 General */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*Background color*/
    
    --bg-white:#fff;
    --bg-light:#e6defa;
    --bg-black:#000;
    --bg-gray: #eee;
    --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc,#854fee);
     
    /*Text color*/
    --primary-text:#198754;
    --secondary-text:#854fee;
    --text-white:#fff;
    --text-black:#000;
    --text-gray:#777;

    /*font family*/
    --primary-font: 'Rubik', sans-serif;
    --secondary-font:'Roboto', sans-serif;

}

body{
    font-family: var(--secondary-font);
    width: 100%;
    background-repeat: no-repeat;
    /* Light Theme */
    background-color: #ffffff;
    color: #000000;
    --primary-color:white;
    --secondary-color: #212121;
}


  /* Dark Theme */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
    /* Add other dark theme styles as needed */
    --primary-color:#212121;
    --secondary-color: white;
}
a{
    text-decoration: none;
}

/* 1 custom slide */

::-webkit-scrollbar{
    width: 0.25rem;
}

::-webkit-scrollbar-track{
    background: var(--bg-gray);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}


 
.main-btn{
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
    border: double 0.125rem transparent;
    padding: 0 2.625rem;
    transition: all .4s ease-in-out;
    --webkit-transition:all .4s ease-in-out;

}

.primary-btn{
    background-image: var(--gradient);
    color: var(--text-white);

}

.primary-btn:hover{
    border-color:var(--secondary-color);
    background: var(--bg-white);
    color: var(--secondary-text);
    box-shadow: none;
}

.secondary-btn{
    
    color: var(--secondary-text);
    border-color:var(--secondary-color);
}

.secondary-btn:hover{
    background: var(--gradient);
    color: var(--text-white);
    box-shadow: none;
}

h1{
    font-size: 3.5rem;
    line-height: 3.75rem;
    font-weight: 700;
    color: var(--secondary-color);
    
    font-family: var(--primary-font);
}

h2{
    font-size: 2.5rem;
    line-height: 3.4375rem;
    font-weight: 500;
    color: var(--secondary-color);
    
    font-family: var(--primary-font);
}

h3{
    font-size: 2.25rem;
    line-height: 3.125rem;
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    

}
h5{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-black);
    

}

p{
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;

}

/*(2) NAVBAR */
.header_wrapper{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 100px;
}


.header_wrapper .navbar{

    -webkit-transition:all .2s linear;
    transition: all .2s linear;
   
    color: var(--secondary-color);
    margin-top: 0px;
    
}

.header_wrapper .navbar-brand img{
    max-width: 10rem;
    height:6rem;
    background: no-repeat;
   
    padding-top: 0;
}

.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
    background-color: var(--primary-color);
}

.header_wrapper .nav-item{
    margin: 0 0.625rem;
    
}
.header_wrapper .d-flex{
    padding-bottom: 30px;
    margin-top: 30px;
}
.header_wrapper .d-flex input{
    border-radius: 20px;
    
}
.header_wrapper .d-flex button{
    border-radius: 50px;
   
}
.header_wrapper .nav-item .nav-link{
    font-family: var(--primary-font);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    /* color: white; */
    display: inline-block;
  
}
.header_wrapper .nav-item .nav-link img{
    height: 30px;
    width: 30px;
}

.btn:hover{
    color:rgb(8, 83, 8);
    background-color: #fff;

}


.header_wrapper .nav-item .nav-link:active,
.header_wrapper .nav-item .nav-link:hover{
    /* color: rgb(18, 95, 18); */
    color: var(--secondary-color);
    cursor: pointer;


}
.header_wrapper .navbar .navbar-toggler{
    background-color: var(--secondary-color);
} 
.header_wrapper .nav-item .nav-link::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #198754;
    transition: width .3s;
}
.header_wrapper .nav-item .nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}


.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--primary-color);

    box-shadow: 0 0.25rem 0.375rem rgba(12,0,46,.05);
    -webkit-box-shadow: 0 0.25rem 0.375rem rgba(12,0,46,.05);
}

.header_wrapper .navbar{
    background-color: var(--primary-color);
    height: 100px;
    text-align: center;
    align-items: center;
}




   /*3rd section cards*/
   
.services_wrapper .card{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    background-color:rgb(206, 246, 206);
    cursor: pointer;


    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.services_wrapper .card:hover{
    box-shadow: 0 0.9375rem 1.875rem rgba(95, 236, 109, 0.3);
    background: var(--bg-white);
    
}


.services_wrapper .card i{
    font-size: 2.4rem;
    color:#000;
    
}

/*4th section*/



.Exams .Exam{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    padding: 1rem;
    text-align: center;
    align-items: center;
    gap: 1rem;

    

  }

  .Exams i{
    color: rgb(102, 237, 141);
    font-size: 1.7rem;
    
  }

  
/* 6th Forms */

.form form{
    background-image: url(../images/form/5291450.jpg);
    
}
.form-label{
    color: #111;
    font-weight: 500;
    font-size: 1.2rem;
}
.form h3{
    text-align: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
}

.form p{
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}
.forms{
    padding: 5rem;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    background-color:rgba(124, 247, 136, 0.3);
    margin-top: 2rem;
}
.copyright{
    text-align: center;
}